<h3>Absolute Republican Vote Shift, Pennsylvania Governor 2018-2022</h3>
<p>Let's draw some arrows.</p>
<div id="pa-r-prim-ab-22">
</div>

<script src="scripts/homework-17/pa-r-prim-ab-22.js"></script>